# Mac
.DS_Store

# JetBrains PhpStorm
.idea/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# Composer
composer.lock
composer.phar
vendor/

# PHP_CodeSniffer
.php_cs.cache

# PHPUnit
.phpunit.result.cache

# For local development
z_local*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
